body,html{
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;

   }

   .searchbar{
   margin-bottom: auto;
   margin-top: auto;
   height: 60px;
   background-color: #353b48;
   border-radius: 30px;
   padding: 10px;
   }

   .search_input{
   color: white;
   border: 0;
   outline: 0;
   background: none;
   width: 0;
   caret-color:transparent;
   line-height: 40px;
   transition: width 0.4s linear;
   }

   .searchbar:hover > .search_input{
   padding: 0 10px;
   width: 450px;
   caret-color:red;
   transition: width 0.4s linear;
   }

   .searchbar:hover > .search_icon{
   background: white;
   color: #e74c3c;
   }

   .search_icon{
   height: 40px;
   width: 40px;
   float: right;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   color:white;
   }
ul, menu, dir {
  display: none;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.nav-item:focus {
  background-color: #fff;

}
.nav-item:focus ~ .carrot-icon alt{
  max-height: 400px;

}
body,html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;

  }

  .searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 60px;
  background-color: #353b48;
  border-radius: 30px;
  padding: 10px;
  text-align: left;
  }

  .search_input{
  color: white;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 10px;
  width: 450px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: white;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:white;
  }

.parallax{
    background-image: url(..//images/para.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
}







.navbar {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 0.5rem 1rem;
   background:#222;
   color: #f2f2f2;
}

input[type=search] {
    background: #555 url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
}
input[type=search]:focus {
    width: 600px;
    background-color: #ccc;
    border-color: #333;
    border: solid 1px #fff;
}
.lead{
  font-style: oblique;
  font-size: 50px;
  text-align: center;
}
.market{
  font-style: oblique;
  font-size: 50px;
  text-align: center;
}
.display-4{
  font-size: 30px;
  text-align: center;
}
.jumbotron{

  height: 80%;
  font-family: 'Shadows Into Light', cursive;

}
.cards{
  text-align: center;
font-family: 'Jaldi', sans-seri
}
.about{
  text-align: center;
  text-shadow: 2px;
}
.jumbotron{
  text-align: center;
  height: 50%;
}
.links{
  text-align: center;
  align-self: center;

}
.card-footer{

}
.container{
  width: 100%;
}
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  background:#222;
  color: #f2f2f2;
}

input[type=search] {
   background: #555 url(http://hp-proliant.co.uk/qual_images/mob-search-icon.png) no-repeat 9px center;
   border: solid 1px #ccc;
   padding: 9px 10px 9px 32px;
   width: 55px;
}
input[type=search]:focus {
   width: 600px;
   background-color: #ccc;
   border-color: #333;
   border: solid 1px #fff;
}
#music{
 text-align: center;
}
#main{
  background-image: url(..//images/damn.jpg);
font-family: 'ZCOOL QingKe HuangYou', cursive;

}
.parallax{
  background-image: url(..//images/malaya1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height:500px ;
}
.footers a {color:#696969;}
.footers p {color:#696969;}
.footers ul {line-height:30px;}
#social-fb:hover {
     color: #3B5998;
     transition:all .001s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .001s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .001s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .001s;
 }
 .fool{
     background-color: ;
     font-size: 25px;
     padding: 10px;
     margin-top: 5px;
     margin-bottom: 100px;
     margin-right: 15px;
     margin-left:15px;
 }
 .centering{
   text-align: center;
   margin-right: 0%;
 }
 .jumbotron{
   background-image: url(..//images/malaya1.jpg);
 }
